<section>
  <article>
    <h1>Excuses</h1>
    <% if current_user %>
      <a href="/excuses/new">Add a new excuse</a>
    <% end %>
    <ul>
      <% @excuses.each do |excuse| %>
        <li><%= excuse.body %></li>
        <% if current_user && current_user.id == excuse.creator_id %>
          <a href="/excuses/<%= excuse.id %>">View</a>
        <% end %>
      <% end %>
    </ul>
  </article>
</section>