<section>
  <article>
    <h1>Excuses</h1>
    <% if current_user %>
      <a href="/excuses/new">Add a new excuse</a>
    <% end %>
    <ul>
      <% @excuses.each do |excuse| %>
        <li><%= excuse.body %></li>
        <a href="#">View</a>
      <% end %>
    </ul>
  </article>
</section>