<section class="container">
  <%= erb :"partials/_create_account_errors", locals: { errors: @errors } %>
  <h1>Create an excuse:</h1>
  <form role="form" method="post" action="/excuses">
    <div class = "form-group">
      <textarea class = "form-control" rows = "3" type="text"name="body" placholder="Excuse"></textarea>
      <br>
      <input class="button" type="submit" value="Create">
    </div>
  </form>
</section>