<%= erb :"partials/_create_account_errors", locals: { errors: @errors } %>
<section>
  <h1>Create an excuse:</h1>
  <form method="post" action="/excuses">
    <textarea type="text"name="body" placholder="Excuse"></textarea>
    <br>
    <input type="submit" value="Create">
  </form>
</section>