<section>
  <h1>Update you comment</h1>
  <%= erb :"partials/_create_account_errors", locals: { errors: @errors } %>
  <form method="post" action="/excuses/<%= @excuse.id %>/comments/<%= @comment.id %>">
    <input type="hidden" name="_method" value="put">
    <textarea type="text" name="comment_body"><%= @comment.body %></textarea>
    <br>
    <input type="submit" value="Comment">
  </form>
</section>